.chart {
  padding-top: $space-200;
  margin-left: -$space-400;
  margin-right: -$space-400;

  :global {

    // hide outline on click
    .recharts-wrapper *:focus:not(:focus-visible) {
      outline: none !important;
    }

    .recharts-surface {
      overflow: visible;
    }

    .recharts-yAxis-tick-labels .recharts-cartesian-axis-tick-value {
      @include body-s;
      fill: $text-on-light-muted;
    }

    .recharts-xAxis-tick-labels .recharts-cartesian-axis-tick-value {
      @include body-s;
      fill: $text-on-light-subtle;
    }
  }
}

.cartesianGrid {
  stroke: $text-on-dark-muted;
  stroke-dasharray: 5 5;
}