.link {
  display: flex;
  align-items: center;
  gap: $space-200;
  padding: $space-300;
  border-radius: $radius-200;
  text-decoration: none;
}

.icon {
  height: $space-400;
}

.text {
  @include body-m;
  line-height: 1;
}

.text,
.icon {
  color: $text-on-dark-muted;
}

.active {
  background: $bg-light;

  .text,
  .icon {
    color: $text-on-light;
  }
}