.chip {
  padding: $space-100 $space-200;
  border-radius: $radius-full;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  gap: $space-100;
}

.text {
  @include body-s;
  // TODO: see if this override is okay
  line-height: 1;
}

.Aqua {
  background: $bg-aqua;
  color: $text-aqua;
  border-color: $text-aqua;
}

.Ruby {
  background: $bg-ruby;
  color: $text-ruby;
  border-color: $text-ruby;
}

.Citrine {
  background: $bg-citrine;
  color: $text-citrine;
  border-color: $text-citrine;
}

.Emerald {
  background: $bg-emerald;
  color: $text-emerald;
  border-color: $text-emerald;
}

.icon {
  height: $space-300;
}

.noBackground {
  background: none;
}