.dashboard {
  display: flex;
  gap: $space-500;
  padding: $space-700 $space-500;
  height: 100%;
  width: 100%;

  &>* {
    display: flex;
    flex-direction: column;
    gap: $space-500;
  }
}

.left {
  flex: 1;

}

.right {
  flex: 2;
}

@include below-xl {
  .dashboard {
    flex-direction: column;
  }

  .left,
  .right {
    flex: initial;
  }

  .left {
    flex-direction: row;

    &>* {
      width: 100%;
    }
  }
}

@include below-lg {
  .left {
    flex-direction: column;
  }
}