.dashboard {
  display: flex;
  gap: $space-500;
  height: 100%;
  width: 100%;
  padding: $space-700 0;

  &>* {
    display: flex;
    flex-direction: column;
    gap: $space-500;
  }
}

.left {
  flex: 1;

}

.right {
  flex: 2;
}

@include below-xl {
  .dashboard {
    flex-direction: column;
  }

  .left,
  .right {
    flex: initial;
  }

  .left {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@include below-lg {
  .left {
    display: flex;
    flex-direction: column;
  }
}