.dashboard {
  display: flex;
  gap: $space-500;
  padding: $space-700 $space-500;
  height: 100%;
  width: 100%;
  max-width: 1200px;

  &>* {
    display: flex;
    flex-direction: column;
    gap: $space-500;
  }
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}