.card {
  flex: 1;
  padding: $space-400;
  border-radius: $radius-400;
  background: $bg-light;
  display: flex;
  flex-direction: column;
  gap: $space-400;
  min-width: max-content;
}

.footer {
  display: flex;
  align-items: flex-end;
  gap: $space-200;
}

.name {
  @include body-l-med;
  color: $text-on-light;
}

.icon {
  width: $space-400;
  height: $space-400;
}

.value {
  @include heading-xl;
  font-family: $font-mono;
  color: $text-on-light;
  display: inline-flex;
  gap: $space-100;
}

.update {
  @include body-m;
  padding-bottom: $space-200;
  display: flex;
  align-items: center;
  gap: $space-100;
}

.positive {
  color: $text-emerald;
}

.negative {
  color: $text-ruby;
}