.layout {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.side {
  position: fixed;
  min-width: 250px;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: scroll;
  background: $bg-dark;
}

.headerMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 250px;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}