.layout {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.side {
  position: fixed;
  min-width: 240px;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: scroll;
  background: $bg-dark;
}

.headerMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 240px;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}

@include below-md {
  .side {
    min-width: 180px;
  }

  .headerMain {
    margin-left: 180px;
  }
}