.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-200;
  padding: $space-400;
}

.title {
  @include heading-xl;
  font-weight: 700;
  color: $text-on-light;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $space-200;
}

.animation {
  width: 540px;
}

.route {
  background: $bg-dark;
  color: $text-on-dark;
  padding: $space-100 $space-200;
}

.suffix {
  color: $text-on-light;
}

@include below-sm {
  .title {
    @include heading-l;
    font-weight: 700;
  }

  .animation {
    width: 360px;
  }
}