.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-1000;
}

.title {
  @include display;
  color: $text-on-light;
  text-transform: uppercase;
}

.animation {
  width: 800px;
}