$breakpoint-sm: 680px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

@mixin below-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin below-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin below-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin below-sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}