$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

@mixin below-xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin below-lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}