$bg-light: #ffffff;
$bg-light-subtle: #F3F5F7;
$bg-hint: #EEEEFF;
$bg-dark: #0A0C10;
$bg-error: #FFF1F6;

$text-on-light: #0A0C10;
$text-on-light-muted: #4A5056;
$text-on-light-subtle: #757B84;
$text-on-light-success: #1B793E;
$text-on-light-error: #902426;

$text-on-dark: #ffffff;
$text-on-dark-muted: #A0A6AE;
$text-on-dark-subtle: #757B84;

$border-muted: #E9ECEC;

$gradient-progress: linear-gradient(90deg, #C9CDE2 0%, #00CDA1 100%);