$bg-light: #ffffff;
$bg-light-subtle: #F3F5F7;
$bg-hint: #EEEEFF;
$bg-dark: #0A0C10;

$text-on-light: #0A0C10;
$text-on-light-muted: #4A5056;
$text-on-light-subtle: #757B84;

$text-aqua: #2A7C99;
$text-ruby: #902426;
$text-emerald: #1B793E;
$text-citrine: #E3C338;

$bg-aqua: #EFF8FB;
$bg-ruby: #FFF1F6;
$bg-emerald: #E4F9EC;
$bg-citrine: #FCF8E8;


$text-on-dark: #ffffff;
$text-on-dark-muted: #A0A6AE;
$text-on-dark-subtle: #757B84;

$border-on-light-muted: #E9ECEC;
$border-on-dark-muted: #1F2126;

$gradient-progress: linear-gradient(90deg, #C9CDE2 0%, #00CDA1 100%);