$bg-light: #ffffff;
$bg-light-subtle: #F3F5F7;

$bg-dark: #0A0C10;

$text-on-light: #0A0C10;
$text-on-light-muted: #4A5056;
$text-on-light-subtle: #757B84;

$text-on-dark: #ffffff;
$text-on-dark-muted: #A0A6AE;
$text-on-dark-subtle: #757B84;