$space-0: 0;
$space-25: 0.0625rem;
$space-50: 0.125rem;
$space-100: 0.25rem;
$space-200: 0.5rem;
$space-300: 0.75rem;
$space-400: 1rem;
$space-500: 1.25rem;
$space-600: 1.5rem;
$space-700: 1.75rem;
$space-800: 2rem;
$space-1000: 2.5rem;
$space-1200: 3rem;
$space-1600: 4rem;
$space-1600: 4rem;