@use 'colors' as *;
@use 'spacing' as *;

@mixin bottom-separator($color) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color;
    bottom: 0;
  }
}

@mixin bottom-separator-light {
  @include bottom-separator($border-on-light-muted);
}

@mixin bottom-separator-dark {
  @include bottom-separator($border-on-dark-muted);
}

@mixin cap-max-width {
  max-width: $container-max-width;
  width: 100%;
  padding: 0 $space-500;
}