.content {
  background: $bg-dark;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  color: $bg-light;
  top: $space-700;
  right: $space-700;
}

.icon {
  height: $space-700;
}