.stage {
  @include caption;
  padding: $space-25 $space-100;
  color: $text-on-light-subtle;
  border: 1px solid $border-on-light-muted;
  border-radius: $radius-full;
  justify-self: flex-start;
}

.shimmer {
  height: 272px;

  @include below-xl {
    height: 314px;
  }

  @include below-lg {
    height: 272px;
  }
}