.metaRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-200 0;
  @include bottom-separator;
}

.metaKey {
  @include body-s;
  color: $text-on-light-muted;
}

.metaTextValue {
  @include body-s;
  color: $text-on-light;
}