.group {
  padding: $space-500 0;

  &:not(:last-child) {
    @include bottom-separator-dark;
  }
}

.name {
  @include body-m;
  text-transform: uppercase;
  // TODO: make colors match
  color: $text-on-dark-subtle;
  padding-left: $space-300;
  padding-bottom: $space-400;
}