.chip {
  padding: $space-100 $space-200;
  border-radius: $radius-full;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  gap: $space-100;
}

.text {
  @include body-s-med;
  // TODO: see if this override is okay
  line-height: 1;
}

.aqua {
  background: $bg-aqua;
  color: $text-aqua;
  border-color: $text-aqua;
}

.ruby {
  background: $bg-ruby;
  color: $text-ruby;
  border-color: $text-ruby;
}

.icon {
  height: $space-300;
}